<h1>Item List:</h1>
<%= link_to 'New Item', new_item_path, class: 'btn btn-primary' %>
<table class="table">
  <thead>
    <th>#</th>
    <th>Name</th>
    <th>Description</th>
    <th>Quantitiy</th>
    <th></th>
  </thead>
  <tbody>
    <% @items.each do |p| %>
      <tr>
        <td><%= p.id %></td>
        <td><%= p.name %></td>
        <td><%= p.description %></td>
        <td><%= p.quantity %></td>
        <td>
          <%= link_to 'Details', item_path(p), class: 'btn btn-sm btn-default' %>
          <%= link_to 'Edit', edit_item_path(p), class: 'btn btn-sm btn-default' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
